venv/
logs/
# Ignore everything in artifacts except data_ingestion folder
artifacts/*
!artifacts/data_ingestion/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
# Ignore database files
*.db
