<!DOCTYPE html>
<html>
<head>
    <title>Linear Regression Form</title>
</head>
<body>
    <h2>Predict with Linear Regression</h2>
    <form method="POST" action="/predict_linear">
        <label>Median Income:</label><input type="text" name="MedInc"><br>
        <label>House Age:</label><input type="text" name="HouseAge"><br>
        <label>Average Rooms:</label><input type="text" name="AveRooms"><br>
        <label>Average Bedrooms:</label><input type="text" name="AveBedrms"><br>
        <label>Population:</label><input type="text" name="Population"><br>
        <label>Average Occupancy:</label><input type="text" name="AveOccup"><br>
        <label>Latitude:</label><input type="text" name="Latitude"><br>
        <label>Longitude:</label><input type="text" name="Longitude"><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
